<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Vibe - Eventos</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/profile/styles.css">
    <script defer src="/profile/script.js"></script>
</head>
<body>
<header>
    <h1>City Vibe</h1>
    <nav>
        <a href="/" class="btn">Início</a>
        <a href="/index" class="btn">Publicar</a>
    </nav>
</header>

<main class="main-content">
    <!-- Contêiner de Cards de Eventos -->
    <div id="event-cards-container" class="event-cards-container">
        <!-- Os cards de eventos serão carregados aqui -->
    </div>
</main>

<footer>
    <p>&copy; 2025 City Vibe. Todos os direitos reservados.</p>
</footer>
</body>
</html>

