/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3b82f6; /* Azul */
  display: none; /* Será mostrado em telas grandes */
}

.actions form {
  display: inline-block;
  margin-right: 8px;
}

.publish-btn, .login-btn {
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 8px;
}

.publish-btn {
  background-color: #3b82f6;
  color: white;
}

.login-btn {
  color: #3b82f6;
}

/* Main content */
.main-content {
  max-width: 900px;
  margin: 40px auto;
  text-align: center;
}

.event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-upload {
  width: 100%;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.file-input {
  display: none;
}

.form-fields {
  margin: 8px 0;
}

.form-fields-select {
  margin: 8px 0;
}

.form-fields-select {
  display: flex;
  gap: 10px; /* Adiciona um pequeno espaço entre os elementos */
}

.input-text, .select-box, .input-date-time {
  padding: 8px 16px;
  margin-bottom: 8px; /* Ajustado para reduzir o espaçamento */
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}

.input-text {
  height: 40px;
}

.select-box {
  height: 40px;
}

.date-time {
  display: flex;
  gap: 8px; /* Ajustado para reduzir o espaçamento */
}

.cost-options {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radio-option input[type="radio"] {
  display: none;
}

.radio-option label {
  padding: 8px 16px;
  border-radius: 20px;
  border: 2px solid #ddd;
  cursor: pointer;
}

.radio-option input[type="radio"]:checked + label {
  border-color: #3b82f6;
  background-color: #eff6ff;
}

/* Textarea */
.textarea {
  width: 100%;
  height: 300px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin: 20px auto; /* Ajustado para adicionar espaçamento vertical */
  resize: none;
}

/* Espaçamento entre a caixa de descrição e as opções de evento */
.event-form > .cost-options {
  margin-top: 16px; /* Adicionando o mesmo espaçamento que foi usado nos outros campos */
}

/* Submit Button */
.submit-btn {
  width: 230px;
  height: 50px;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: #3b82f6;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.submit-btn:disabled {
  opacity: 0.5;
}

/* Footer */
.footer {
  text-align: center;
  color: #6b7280;
  border-top: 1px solid #ddd;
  padding: 16px;
}

.footer-content {
  margin-top: 16px;
}

/* Responsividade */
@media (min-width: 1024px) {
  .logo-text {
    display: block;
  }
}

