<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Vibe</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/index/styles.css">
    <script defer src="/index/script.js"></script>
</head>

<body>
<header>
    <h1>City Vibe</h1>
    <nav>
        <a href="/profile" class="btn">Perfil</a>
        <a href="/" class="btn">Início</a>
        <a href="#" class="btn" onclick="logout()">Sair</a>
    </nav>
    <div id="user-name" style="display: none;"></div>
</header>

<main class="main-content">

    <form class="event-form">

        <div class="form-fields-select">
            <input id="event-cover" placeholder="Capa do evento (URL)" type="url" class="input-text" required pattern="https?://.*" />
            <input placeholder="Nome do evento" type="text" class="input-text" required />
            <select class="select-box" required>
                <option value="" disabled selected>Tipo de evento</option>
                <option value="SHOW">show de bandas locais</option>
                <option value="FESTIVAL_MUSICA_VIVA">festival de música ao vivo</option>
                <option value="SHOW_DJS">show de DJs</option>
                <option value="FESTIVAL_MUSICA_ELETRONICA">festival de música eletrônica</option>
                <option value="SHOW_STANDUP">show de stand-up comedy</option>
                <option value="CONCERTO_ROCK">concerto de rock</option>
                <option value="FESTIVAL_CULTURA_POP">festival de cultura pop</option>
                <option value="EVENTO_GOSPEL">evento gospel</option>
                <option value="ENCONTRO_INFLUENCIADORES">encontro de influenciadores e criadores de conteúdo</option>
                <option value="FESTIVAL_CINEMA_INDEPENDENTE">festival de cinema independente</option>
                <option value="FEIRA_MODA_ESTILO">feira de moda e estilo jovem</option>
                <option value="WORKSHOP_FOTOGRAFIA_VIDEO">workshop de fotografia e vídeo</option>
                <option value="FESTIVAL_GASTRONOMIA">festival de gastronomia (food trucks, novas tendências)</option>
                <option value="MARATONA_E_SPORTS">maratona de jogos de vídeo (e-sports)</option>
                <option value="RALLY_AVENTURA_AR_LIVRE">rally ou desafio de aventura ao ar livre</option>
                <option value="EXPOSICAO_ARTE_CONTEMPORANEA">exposição de arte contemporânea</option>
                <option value="PALESTRA_CARREIRA_EMPREENDENDO">palestra sobre carreira e empreendedorismo jovem</option>
                <option value="ENCONTRO_TECH_STARTUPS">encontro de tecnologia e startups (hackathons)</option>
                <option value="FESTIVAL_CULTURA_URBANA">festival de cultura urbana (hip hop, breakdance, graffiti)</option>
                <option value="FESTIVAL_MUSICA_INDIE">festival de música indie</option>
                <option value="KARAOKE_AO_VIVO">karaokê ao vivo ou competição de talentos</option>
            </select>
        </div>

        <div class="form-fields">
            <input placeholder="Cidade" type="text" class="input-text" required />
            <input placeholder="Endereço" type="text" class="input-text" required />
            <input type="text" placeholder="Link (opcional)" class="input-text" />
        </div>

        <div class="date-time">
            <!-- Adicionando o atributo min ao campo de data -->
            <input type="date" class="input-date-time" id="event-date" required />
            <input type="time" class="input-date-time" required />
        </div>

        <div class="cost-options">
            <div class="radio-option">
                <input type="radio" id="evento-gratuito" name="evento" value="gratuito">
                <label for="evento-gratuito" class="radio-label">Gratuito</label>
            </div>
            <div class="radio-option">
                <input type="radio" id="evento-pago" name="evento" value="pago">
                <label for="evento-pago" class="radio-label">Pago</label>
            </div>
        </div>

        <textarea placeholder="Descrição do evento" class="textarea" required></textarea>
        <button type="submit" class="submit-btn">Publicar</button>
    </form>
</main>

<footer>
    <p>&copy; 2025 City Vibe. Todos os direitos reservados.</p>
</footer>

<script>
    // Função para definir a data mínima como a data atual
    document.getElementById("event-date").setAttribute("min", new Date().toISOString().split("T")[0]);
</script>

</body>
</html>
