/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #777777, #c9c9c9);
    color: #f1f1f1; /* Texto claro para contraste */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Ajuste para o conteúdo ficar no topo */
    height: 300vh;
}

header {
    background: linear-gradient(to right, #2a3b4c, #c9c9c9);
    color: white;
    width: 100%; /* Garantir que o cabeçalho preencha toda a largura */
    height: 50px; /* Altura do cabeçalho ajustada para 50px */
    box-sizing: border-box; /* Garantir que o padding não afete a altura */
    display: flex; /* Usar flexbox para alinhar verticalmente */
    align-items: center; /* Alinha os itens verticalmente no centro */
    justify-content: space-around; /* Alinha os itens com espaço entre eles */
}

header h1 {
    font-size: 1.4rem;
    margin: 0; /* Remove a margem padrão */
    display: flex; /* Faz o h1 ser um item flexível */
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Garante que o conteúdo esteja centrado horizontalmente */
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 0 20px; /* Remove padding superior/inferior */
    height: 40px; /* Define altura dos botões */
    line-height: 40px; /* Centraliza o texto verticalmente */
    background-color: #1e2a35; /* Azul mais claro para botões */
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s;
    display: flex; /* Torna o botão um container flexível */
    align-items: center; /* Alinha o conteúdo verticalmente */
    justify-content: center; /* Garante que o conteúdo seja centralizado horizontalmente */
}

header nav a:hover {
    background-color: #18222d; /* Azul mais escuro no hover */
}

/* Main */
main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo do main */
    flex-grow: 1;
}

/* Título dentro do Main */
h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Footer */
footer {
    background: linear-gradient(to right, #2a3b4c, #c9c9c9);
    color: white;
    width: 100%;
    padding: 14px 0;
    text-align: center;
    margin-top: auto;
}

footer p {
    color: #ccc;
}

/* Botão de enviar */
button.submit-btn {
    padding: 0;
    height: 40px;
    background-color: #3b6ba3
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button.submit-btn:hover {
    background-color: #315b87; /* Azul mais escuro no hover */
}


/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #0056b3;
}

nav a:hover {
    background-color: #004085;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

/* Barra de pesquisa */
.search-container {
    text-align: center;
    margin: 20px 0;
}

#search {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.event-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Exibe um card por linha, mas vai se ajustar */
    gap: 20px;  /* Espaçamento entre os cards */
    max-height: 100%;  /* Altura do contêiner ajustada para ocupar a altura da tela */
    justify-items: center;
    overflow-y: auto;
    border-radius: 8px;/* Permite rolar para ver mais cards */
}


/* Estilo para cada card de evento */
.card {
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 600px;  /* Largura fixa de 600px */
    height: 250px;  /* Altura fixa de 250px */
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-10px);  /* Adiciona um efeito de hover */
}

.div-content {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centraliza o conteúdo do main */
    height: 100%;  /* Garante que ocupe toda a altura do contêiner */
}

.card-image {
    width: 100%;
    object-fit: cover;  /* Faz a imagem cobrir toda a área disponível */
}

.card-content {
    padding: 10px; /* Adiciona espaçamento entre a borda do card e o conteúdo */
    flex: 1;  /* Faz com que o conteúdo ocupe o espaço restante */
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-description, .card-date {
    font-size: 16px;
}

.card-title, .card-description, .card-content {
    color: #000000;  /* Cor do texto mais escura */
}

.card-city {
        font-size: 14px;
        color: #777;
        display: flex;              /* Ativa o modo flexbox na span */
        align-items: center;        /* Alinha o texto no centro verticalmente */
        justify-content: center;    /* Centraliza o texto horizontalmente */
        height: 100%;               /* Faz a span ocupar toda a altura do container pai (div-content) */
        padding-right: 10px;         /* Adiciona um leve espaçamento à esquerda */
        margin-top: auto;
}
