<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Vibe</title>
    <link rel="stylesheet" href="/index/styles.css">
</head>
<body>
<header>
    <h1>City Vibe</h1>
    <nav>
        <a href="login" class="btn">Publicar Evento</a>
    </nav>

</header>

<main class="main-content">

</main>

<footer>
    <p>&copy; 2025 City Vibe. Todos os direitos reservados.</p>
</footer>

</body>
</html>
